Intra-PJM Tariffs --> OPERATING AGREEMENT --> OA 11. MEMBERS --> OA 11.6 Membership Requirements 
Effective Date: 6/1/2020 - Docket #: ER20-1451-000 - Page 1 
11.6 Membership Requirements. 
 
(a) To qualify as a Member, an Applicant shall: 
 
(i) Be a Transmission Owner, a Generation Owner, an Other Supplier, an Electric 
Distributor, or an End-Use Customer; 
 
(ii) Accept the obligations set forth in this Agreement;  
 
(iii) Cure any default, including but not limited to paying all outstanding and unpaid 
obligations due to PJM and/or PJMSettlement by any former Member that is an Affiliate 
of the Applicant, if any, as required by PJM and/or PJMSettlement based on its 
evaluation of the membership application; and 
 
(iv) Cure any default, including but not limited to paying all outstanding and unpaid 
obligations due to PJM and/or PJMSettlement by any former Member, and for which 
Applicant should be treated as the same Member that experienced the outstanding 
default, pursuant to the factors identified in Operating Agreement, Schedule 1, section 
1.4.8, and the parallel provisions of Tariff, Attachment K-Appendix, section 1.4.8, if any, 
as required by PJM and/or PJMSettlement based on its evaluation of the membership 
application. 
 
(b)  Certain Members that are Load Serving Entities are parties to the Reliability Assurance 
Agreement.  Upon becoming a Member, any Applicant that is a Load Serving Entity in the PJM 
Region and that wishes to become a Market Buyer shall also simultaneously execute the 
Reliability Assurance Agreement. 
 
(c) An Applicant that wishes to become a PJM Member and party to this Agreement shall 
apply, in writing, to the President of PJM setting forth its request, its qualifications for 
membership, its agreement to supply data and information as specified in this Agreement and 
any additional data or information reasonably requested by PJM and/or PJMSettlement, its 
agreement to pay all costs and expenses in accordance with Operating Agreement, Schedule 3, 
and providing all additional information specified pursuant to the Agreements for entities that 
wish to become Market Participants.  Among other things, PJM will evaluate the application to 
determine whether the entity seeking to become a Member (i) is qualified for membership, (ii) 
satisfies the requirements for participation in one of the sectors in accordance with Operating 
Agreement, section 8.1, and/or (iii) presents any unreasonable, inherent or material risks to PJM, 
including but not limited to unreasonable credit risk pursuant to Tariff, Attachment Q that cannot 
be cured by posting Collateral or credit support commensurate with the risk of the anticipated 
market activity of the Applicant to the PJM Markets and PJM Members.  Such review shall 
include an examination of whether the Applicant should be treated as a former Member that 
experienced an outstanding default in PJM, including but not limited to the interconnectedness of 
the business relationships, overlap in relevant personnel, similarity of business activities, overlap 
of customer base, and the business engaged in prior to the attempted re-entry, and other relevant 
factors.  PJM and PJMSettlement will review applications to determine whether they satisfy 
applicable requirements. The determination whether an application for membership is approved 
shall be made within ninety (90) days after receipt of all documentation and information required 
by the Agreements and/or requested by PJM and/or PJMSettlement in the consideration of the 

Intra-PJM Tariffs --> OPERATING AGREEMENT --> OA 11. MEMBERS --> OA 11.6 Membership Requirements 
Effective Date: 6/1/2020 - Docket #: ER20-1451-000 - Page 2 
application for membership.  If an application for membership is not approved by the President 
of PJM, the Applicant will be provided a written notice explaining the basis for non-approval. 
An Applicant may appeal the non-approval of its application for membership to the Federal 
Energy Regulatory Commission.  
 
(d) Nothing in Operating Agreement, section 11 is intended to remove, in any respect, the 
choice of participation by other utility companies or organizations in the operation of the PJM 
Region through inclusion in the System of a Member. 
 
(e) An Applicant whose application is accepted by the President of PJM pursuant to section 
11.6(c) above shall execute a supplement to this Agreement in substantially the form prescribed 
in Operating Agreement, Schedule 4, which supplement shall be countersigned by the President 
of PJM or the President’s authorized designee.  The Applicant shall become a Member effective 
on the date the supplement is countersigned by the President of PJM or the President’s 
authorized designee. 
 
(f) Applicants whose applications contemplate expansion or rearrangement of the PJM 
Region may become Members promptly as described in sections 11.6(c) and 11.6(e) above, but 
the integration of the Applicant's system into all of the operation and accounting provisions of 
the Agreements, shall occur only after completion of all required installations and modifications 
of metering, communications, computer programming, and other necessary and appropriate 
facilities and procedures, as determined by the Office of the Interconnection. The Office of the 
Interconnection shall notify the other Members when such integration has occurred. 
 
(g) Applicants that become Members will be listed in Operating Agreement, Schedule 12. 
 
(h) In accordance with this Agreement, Members agree that PJMSettlement shall be the 
Counterparty with respect to certain transactions under the PJM Tariff and this Agreement. 
 
 

