Intra-PJM Tariffs --> OPERATING AGREEMENT --> OA 11. MEMBERS --> OA 11.7 Associate Membership Requirements. 
Effective Date: 7/3/2018 - Docket #: ER18-1528-000 - Page 1 
11.7 Associate Membership Requirements. 
 
(a) If any of the following conditions apply, an entity may qualify as an Associate Member: 
 
(i) The entity is not a member of the End-Use Customer sector and has not been a 
Market Participant over the past six months, and has no verifiable plans to 
become a Market Participant over the next six months; 
 
(ii) The entity does not meet the requirements of Operating Agreement, section 11.6 ; 
 
(b) The following rights and obligations shall apply to Associate Members: 
 
(i) Associate Members shall pay the one half of the annual membership fee, and  the 
application fee is waived; 
 
(ii) Associate Members may participate in all stakeholder process activities; 
 
(iii) Associate Members shall not vote in any stakeholder activities, working groups or 
committees; 
 
(iv) Associate Members shall not participate in any of PJM’s markets; 
 
(v) Associate Members may become Members if they meet the requirements of a 
Member as defined in this Agreement;  
 
(vi) Associate Members may participate in training offered by PJM at no cost; 
 
(vii) Associate Members shall not be subject to default assessments pursuant to this 
Agreement. 
 

